.filterbody {
  z-index: 10000;
}
.showhide {
  background-color: black;
  color: white;
  border: none;
  font-family: 'Josefin Sans', sans-serif;
  padding: 10px;
  font-size: 15px;
  cursor: pointer;
  width: 250px;
  transition: 0.5s;
  z-index: 500;
  position: fixed;
  left: -100px;
  bottom: 410px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.showhidewide {
  background-color: black;
  color: white;
  border: none;
  font-family: 'Josefin Sans', sans-serif;
  padding: 10px;
  font-size: 15px;
  cursor: pointer;
  width: 300px;
  transition: 0.5s;
  z-index: 500;
  position: fixed;
  left: 0;
  bottom: 410px;
  border-top-right-radius: 20px;
}
.filtermenu {
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Josefin Sans', sans-serif;
  background-color: white;
  position: fixed;
  width: 300px;
  transition: 0.5s;
  height: 410px;
  z-index: 500;
  scroll-behavior: smooth;
  overflow-y: auto;
}
.filtermenuhide {
  left: -300px;
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: column;
  width: 300px;
  transition: 0.5s;
  height: 410px;
}
.filtermenu p,
.filtermenuhide p {
  font-size: 12px;
  margin: 5px;
  color: rgb(80, 80, 80);
  text-decoration: underline;
}
.filterdivision {
  border-top: 1px solid gray;
}
.vehicleclass {
  display: flex;
  flex-direction: row;
  margin: 10px;
  justify-content: center;
}
.vmbutton2 {
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: 0.15s;
  border-radius: 10px;
  background-color: white;
}
.vmbutton2:hover {
  background-color: rgb(204, 204, 204);
}
.vmbutton2active {
  background-color: rgb(136, 136, 136);
}
.vmicon2 {
  width: 40px;
}
.pricerange {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 10px;
  margin: 10px;
}
.priceinput {
  width: 100px;
  border: 2px solid black;
  border-radius: 10px;
  height: 40px;
  padding-left: 10px;
  font-family: 'Josefin Sans', sans-serif;
}
.tbutton {
  background-color: none;
  border-radius: 10px;
  height: 30px;
  width: 100px;
  font-family: 'Josefin Sans', sans-serif;
  border: none;
  cursor: pointer;
}
.tbutton:hover {
  background-color: rgb(196, 196, 196);
}
.applyfilter {
  margin: 10px;
  background-color: black;
  border: none;
  border-radius: 10px;
  width: 100px;
  padding: 10px;
  color: white;
}
.applyfilter:hover {
  background-color: rgb(72, 72, 72);
}
@media (max-width: 500px) {
  .showhide {
    border: 2px white solid;
    left: 50%;
    translate: -50%;
    bottom: 0;
    border-top-left-radius: 20px;
    top: auto;
    border-bottom-right-radius: 0;
  }
  .showhidewide {
    border: 2px white solid;
    left: 50%;
    translate: -50%;
    bottom: 500px;
    border-top-left-radius: 20px;
    top: auto;
    border-bottom-right-radius: 0;
  }
  .filtermenuhide {
    bottom: -500px;
    width: 100%;
    height: 500px;
    left: 0;
    top: auto;
  }
  .filtermenu {
    bottom: 0px;
    width: 100%;
    height: 500px;
    position: fixed;
    left: 0;
    top: auto;
  }
}
